### Bank Note Authentication

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

####Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

In [2]:
### Import Libraries
import pandas as pd
import numpy as np

In [3]:
### Import Dataset
data=pd.read_csv('BankNote_Authentication.csv')

In [4]:
data

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [5]:
### Separate Independent and Dependent features
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [6]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [8]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [10]:
### Implement LogisticRegression
from sklearn.linear_model import LogisticRegression
classifier_LR=LogisticRegression()
classifier_LR.fit(X_train,y_train)

LogisticRegression()

In [12]:
## Prediction
y_pred_LR=classifier_LR.predict(X_test)

In [13]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score_LR=accuracy_score(y_test,y_pred_LR)

In [14]:
score_LR

0.9927272727272727

In [15]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier_RF=RandomForestClassifier()
classifier_RF.fit(X_train,y_train)

RandomForestClassifier()

In [16]:
## Prediction
y_pred_RF=classifier_RF.predict(X_test)

In [17]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score_RF=accuracy_score(y_test,y_pred_RF)

In [18]:
score_RF

0.9854545454545455

In [20]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("classifier_LR.pkl","wb")
pickle.dump(classifier_LR, pickle_out)
pickle_out.close()

In [22]:
import numpy as np

In [25]:
classifier_LR.predict([[2,6,0.4,-2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0])